# Exercise 00
Write a piece of code that allocates a list of 20 integers and initializes each element by its index multiplied by 5. Print the result.

In [3]:
myList = []
for 
in range(0,20):
    myList.append(i*5)
print(myList)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

# Exercise 01
Define a function that takes an integer as input, prints  all integers that it is divisable by, and returns the largest one.

In [ ]:
def my_function():
    for i in range()
    int(n//2=0)

# Exercise 02
- create a dictionary with 6 keys and values of your choice
- write a function that takes a dictionary and a value as input and returns whether the value occurs as a key in the dictionary
- write a function that takes a dictionary as input, and returns the dictionary but the keys are swapped with their values (resolve the issue if a value occurs twice!)

In [6]:
British Museum={'name':'British Museum','type':'Museum,year:1753','location:in the Bloomsbury area of London,collection':'8 million items','image':'https://zh.wikipedia.org/zh-hans/%E5%A4%A7%E8%8B%B1%E5%8D%9A%E7%89%A9%E9%A6%86#/media/File:British_Museum_(aerial).jpg'}
print(British Museum)

SyntaxError: invalid syntax (469069096.py, line 1)

In [ ]:
def get_swap_dict(d):
    return {v: k for k, v in d.items()}

# Exercise 03
Define a function that creates a dictionary of the first n fibonacci numbers as values paired with their indices as keys.